html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: linear-gradient(aqua, royalblue);
}

.content {
  text-align: center;
  width: 450px;
  margin: 0 auto;
  background-color: white;
  padding: 10px 0;
  min-height: 200px;
  border-radius: 5px;
}

.cart {
  height: 100vh;
  display: flex;
  align-items: center;
}

.button-clear {
  text-align: end;
  margin-right: 10px;
}
