.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  color: black;
  background-color: lightgray;
}

.todoText {
  width: 100%;
  text-align: left;
}

.deleteIcon {
  cursor: pointer;
  color: white;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
  background-color: red;
}
