.todo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  color: black;
  background-color: lightgray;
  margin-bottom: 5px;
}

.todoText {
  width: 100%;
  text-align: left;
  margin-left: 5px;
}

.completedTodo {
  border-color: black;
  color: black;
  text-decoration-line: line-through;
}

.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon,
.todo.completedTodo .editIcon {
  color: black;
}

.checkIcon,
.deleteIcon,
.editIcon {
  cursor: pointer;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.3s;
}

.checkIcon:hover,
.deleteIcon:hover,
.editIcon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.checkIcon:hover {
  color: green;
}

.deleteIcon:hover {
  color: red;
}

.editIcon:hover {
  color: orange;
}
